/* sign in box  */

.signupinput {
	width:300px; height:25px;
	font-size: inherit;
	text-color:black;
}

.signininput {
	width:200px;
	height:20px;
	float: left;
}

#password1 {
	position:absolute;
	margin-top:-17px;
	margin-left: 16.8%;
}

#forget	{
	text-decoration:none;
	color:blue;
	margin-left: 24%;
}


/* Map */

#mapContainer {
    height: 220px  !important;
    width: 16% !important;
    border:5px solid black;
    position: absolute;
    top : 345px; left : 2.8%;
}

/* pop up windows */

label, input { 
    display:block;
}
    
input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}
    
fieldset { 
    padding:0;
    border:0;
    margin-top:25px;
}
   
h1 { 
    font-size: 1.2em;
    margin: .6em 0;
}

.ui-dialog .ui-state-error { 
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.pop_windows
{
	font-size: 0.6em;
}

#interest
{
width: 60%;
}

#time{
	 width:80px;
	 postion:absolute;
	 margin-left:200px;
	 margin-top:-36px;
}
#date{
	width:180px;
}

#place{
	width:335px;
}

/*auto complete */
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #project-icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  #project-description {
    margin: 0;
    padding: 0;
  }

/* top menu */

#logout {
	color:white;
	text-decoration:none;
	font-size:20px;
	font-family:Arial;
	float:right;
	margin-right:20px;
}


#profile {
	color:white; 
	text-decoration:none;
	font-size:20px;
	font-family:Arial;
	margin-left:30%;
	position:relative; margin-left:25%;
}

.shape {
    height: 100px;
    width: auto;
}



/*search bar */
#searchinterest {
    margin-left:-60px;
    height:20px;
    width:180px;
}

#searchlocation {
	margin-top:-38px;
	margin-left:200px;
    height:20px;
    width:180px;
}

#searchbutton {
	position:absolute;
    margin-top:-40px;
    margin-left:450px;
    width:100px;
    height:35px;
}



/* profile picture */

#profilepicture {
	height:192px;
    width:16%;
    position:absolute;
    margin-top:-20px;
    margin-left:2.8%;
    border: 5px solid black;
}

/*
Posts area styling
*/


/* posts windows */
#windows
{
	position:absolute;
	margin-left:20%;
	margin-top: -60px;
	height: 100%;
	width:60%;
	overflow:scroll;
	background-color:white;
    border-radius: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: auto;
    text-align: center;      
}

/* post picture */
#postpicture {
	position:relative;
    margin-top:-4px;
    float:left;
    height:85px;
    width:85px;
}

/* windows title */
#windows h1 {
	font-family:Arial;
    font-size:20px;
}

#windows hr {
	width:90%;
}


/*post name*/
#name { 
    postion:relative;
    overflow:hidden;
}


#activity {
	color: #0f90ba;
	font-size: 21px;
	font-weight: 400;	
}

/*activity font */
#eventfont {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 22px;
	font-size: 13px;
	font-weight: 300;
	position:relative; 
	text-align:left; 
	margin-left:20%;
}


time {
	color:#BDBDBD;
}

#username {
	color:#0101DF;
    font-size:17px;
    font-family:'Bilbo Swash Caps', cursive; 
    float:bottom; 
    float:left; 
    margin-left: 13px; 
    margin-top: -4px;
}

#remove {
	background:#459dcd;
}


html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }


#create-user {
	font-size: 1.0em;
}

#sendmail {
	position:relative;
	float:right;
	margin-top:-5%;
	margin-right:-10%; 
	}

form{
	width:500px;
	margin:0 auto;
}

.navigation {
	padding:0px; font-size:20px; font-family:Arial; position:relative; margin-left:2%; margin-top:-1px;
	color: white;
	text-decoration: none;
}

.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}

input[type=text]{
	color:black;
}

.jr-btn {
	position:relative; float:right; margin-top:-20%; margin-right:-100%; width:100px;
}

.jr-btn-container {
	position:relative; float:right; margin-top:-10%; margin-right:5%; padding:3px; color:red;
}

.fol-btn
{
	position: relative; float:right; margin-right: 60%; width: 80px;
}

.participation,.button,button
{
	moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 5px;
	text-decoration: none;
}

input[type=button], input[type=button]:hover {
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}    

.lighter, .light, .dark {
	width:95%;
	height:50px;
	padding:40px 25px;
}

.lighter{
	background: url('./images/lighter_grey.jpg');
}
.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}

.light{
	background: url('./images/light_grey.jpg');
}
.light input[type=text]{
	border:1px solid #acb1b7;
	background-color:#fcfcfc;
}



.container 
{
	position:absolute;
	margin:-10px -10px;
	width: 100%;
	height:50px;
	background-color:white;
	padding-top:20px;
	padding-left:50px;
}

#checkbox
{
float:left;
}

body
{
 background-color: #ffffff; 
 background-image: url('/img/background_paper.jpg');
 link="white";
 font-family: 'Alegreya Sans', sans-serif;
}

#signin
{
margin-top:-7px; 
height:auto;
width:auto;
float:right;
color:white;
}


#header
{
position: absolute;
position: fixed;
top: 0;
left:0;
width: 100%;
height:100px;
background-color: #9c9ba1; 
border-bottom: 1px solid #CDCDCD;
background: -webkit-linear-gradient(top, #08929f 0%,#17bccc 100%);
-webkit-box-shadow: 0 1px 4px #ccc;
-moz-box-shadow: 0 1px 4px #ccc;
box-shadow: 0 1px 8px #ccc;
}

#mainpage
{
margin-top: 10px;
position: relative;
margin-right: 10px;
}

#profilemenu
{
position: absolute;
top: 0;
left:0;
width: 100%;
height:50px;
background-color: ##9c9ba1; 
border-bottom: 1px solid #CDCDCD;
background:#17bccc; 
 -webkit-linear-gradient(top, #2F2727, #892222);
-webkit-box-shadow: 0 1px 4px #ccc;
-moz-box-shadow: 0 1px 4px #ccc;
box-shadow: 0 1px 4px #ccc;

}

#logout {
    color:white;
    text-decoration:none;
    font-size:20px;
    font-family:Arial;
    float:right;
    margin-right:20px;
    }

.group {
   margin-top:0px;
   float: left;
   margin-left: 5%;
   background: transparent;
   width: 93px;
   padding: 3px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 25px;
}

#brandname {
	color: #ffffff;
	font-size:40px;
	position:absolute;
	float: :left;
	margin-left:50px;
}

#head1
{
position:absolute;
margin-top: 120px;
margin-left: 70px;
font-family: Arial; 

}

.box {
	border: 2px solid #a2a0a0;
    background-color:white;
    font-size:14px; width:45%;
    border-radius: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-left:5%;
    float:left;
    margin-bottom:10px;
	margin: 10px;
}

img {
	position:relative;
    margin:10px;
    float:left;
    height:80px; width:80px;
}

iframe
{
position: absolute;
margin-top: 180px;
margin-left: 60px;
height:400px;
width:48%; 
background-image: url('/img/first_page.png');
background-repeat:no-repeat;

}

.error 
{
	color:red;
	font-size:14px; 
}

#circle
{
height:40;
width:auto;
background-color: white;
}

#box
{
background-color:e1d9da; font-size:14px; width:80%; border-radius: 8px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-left:5%;

}

#logo
{
position:absolute;
margin-left: 50px;
overflow:hidden;
font-size: 80px;
color:#ffffff;
}

#signupbox
{
	position:absolute;
	margin-top:180px;
	margin-left:60%;
	height:400px;
	width:360px;
	background-color:white;
	padding-top:0px;
	padding-left:40px;
	 /* round the corners */
    border-radius: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
}

.windows
{
height:80%; width:60%; background-color:white;
}

.search_rounded{

	margin-left:-60px;
	height:30px;
	width:80%; 
}

input {
    /* round the corners */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
}

input:focus {
    outline:none;
    border: 1px solid #4195fc; 
    /* create a BIG glow */
    box-shadow: 0px 0px 5px #4195fc; 
    -moz-box-shadow: 0px 0px 5px #4195fc;
    -webkit-box-shadow: 0px 0px 5px #4195fc;  
}​

.uploadtitle
{
	margin-top: 800px;
}
#uploadpicture 
{
	height:200px;
	width:200px;
	margin-left: 33%;
}


#submitbutton
{
	position: absolute;
	margin-top: -23px;
	margin-left: 7%;
}

#uploadfile
{
	margin-left: 25%;
}

#position{
	position:relative;
    text-align:center;
    margin-top:12%;
}


#userssearch{
	float:right;
	height: 35px;
	margin-right: 50px ;
	margin-top: -35px;	
}

